@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Diziyorum.Models.KategorilerTurler

@{
    using (Html.BeginForm("BlogEkle", "Admin", new { @class = "bg-light p-5 contact-form"}))
    {
        DiziYorumEntities db = new DiziYorumEntities();

        var kategoriler = db.TBLKATEGORI.ToList();

    <div style="width:60%; position:absolute; left:200px">
        <div class="form-group" >
            @Html.TextBox("baslik", null, new { @class = "form-control", @placeholder = "BLOG BAŞLIĞI", autocomplete = "off" })
        </div>
        
        <div class="form-group" >
            @Html.TextBox("gorsel", null, new { @class = "form-control", @placeholder = "BLOG GÖRSELİ", autocomplete = "off" })
        </div>
        <div class="form-group" >
            @Html.DropDownListFor(x=>x.selectedKategoriId,Model.kategoriler,"Kategori Seçiniz", new { @class = "form-control" })
        </div>
        <div class="form-group" >
            @Html.DropDownListFor(x => x.selectedTurId, Model.turler, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.TextArea("icerik", htmlAttributes: new { @class = "form-control", @placeholder = "İÇERİK", @rows = 10, @cols = 100 })
        </div>
    </div>
        <div class="form-group" style="position:absolute; bottom:120px; left:200px;">
            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5" style=" width: 100px">
        </div>

    }
}